export AZURE_TENANT_ID=your-azure-tenant-id
export MICROSOFT_ENTRAID_CLIENT_ID=your-microsoft-entraid-client-id
export MICROSOFT_ENTRAID_CLIENT_SECRET=your-microsoft-entraid-client-secret
export ADO_PAT=your-ado-pat
export AZURE_DEVOPS_PROJECT=your-azure-devops-project
export ORGANIZATION_NAME="your-organization-name"