apiVersion: v1
kind: Service
metadata:
  labels:
    app: tour-of-heroes-web
    'backstage.io/kubernetes-id': tour-of-heroes
  name: tour-of-heroes-web
  namespace: tour-of-heroes
spec:
  type: LoadBalancer
  ports:
  - name: web
    port: 80
    targetPort: 80
  selector:
    app: tour-of-heroes-web