apiVersion: v1
kind: Service
metadata:
  labels:
    app: tour-of-heroes-api
    'backstage.io/kubernetes-id': tour-of-heroes
  name: tour-of-heroes-api
  namespace: tour-of-heroes
spec:
  type: LoadBalancer
  ports:
  - name: web
    port: 80
    targetPort: 5000
  selector:
    app: tour-of-heroes-api